# Ignore NX related files and directories
.nx/workspace-data

# Ignore node_modules directory
node_modules/

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/

# Next.js
.next
out
apps/mobile-e2e/artifacts